body{
    background-image: linear-gradient(to right,#7EE8FA ,#EEC0C6);
}
.single-task
{
    background-color:blanchedalmond;
    height:auto;
    width: 200px;
    border:solid;
    border-color: black;
    text-align: center;
}
.delete-btn{
   background-color: transparent;
    border:transparent;
}